 .section-card{
        width: 100%;
        padding: 20px;
        background: rgb(54, 54, 54);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
    }

    .card{

        background: rgb(107, 107, 107);
        border-radius: 10px;
        color: white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }
    .card-vetical{
        width: 300px;
        height: 400px;
        flex-direction: column;
    
    }
    .card-horizontal{
        width:  400px;
        height: 300px;
        flex-direction: row;

    }
    .card-vetical>.card-header , .card-vetical>.card-body , .card-vetical>.card-footer{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
        background: rgb(85, 85, 85);
    }

    .card-vetical .card-header{
        background: rgba(63, 63, 63, 0.8) !important;
        flex-direction: row !important;
    }
    
    .card-vetical .card-body{
        background: rgb(85, 85, 85) !important;
        height: 100%;
        font-size: .7rem;
        overflow-y: auto;
    }

    .card-vetical .card-footer{
        background: rgba(63, 63, 63, 0.8) !important;
        flex-direction: row !important;
    }

    .card-horizontal>.card-header , .card-horizontal>.card-body , .card-horizontal>.card-footer{
        height:  100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
        background: rgb(85, 85, 85);
    }

    .card-horizontal .card-header{
        padding: 20px;
        background: rgba(63, 63, 63, 0.8) !important;
        align-items: center;
        justify-content: center;
    }
    
    .card-horizontal .card-body{
        background: rgb(85, 85, 85) !important;
        font-size: .7rem;
        overflow-y: auto;
        width: 100%;

    }

    .card-horizontal .card-footer{
        background: rgba(63, 63, 63, 0.8) !important;
        flex-direction: row !important;
    }
/* ------------------------btn-------------------------------------- */
    .section-button{
        width: 100%;
        padding: 20px;
        background: rgb(54, 54, 54);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .btn{
        padding: 10px 20px 10px 20px;      
        border-radius: 5px;  
        cursor: pointer;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background: var(--blue4);
        color: white;
        outline: 1px solid transparent;

    }
    :disabled ,.disabled{
        opacity: 50%;
        pointer-events: none;
    }
/* -------------------------------------------------------------- */

    .btn-icon{
        border-radius: 5px;  
        cursor: pointer;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: white;
        background: var(--blue4);

    }
    .btn-icon-re{
        flex-direction: row-reverse !important;
    }
    .btn-body{
        width: 100%;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;  
        text-align: center;
        background: rgba(0, 0, 0, 0.18);

    }
    .btn-option{
        width: 30%;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;  
        display: flex;
        align-items: center;
        justify-content: center;
                
    }
/* -------------------------------------------------------------- */

    .btn.hl:hover{
        background: var(--blue4) !important;
        filter: drop-shadow(0px 10px var(--blue6));
        border: 1px solid var(--blue6);
        outline: 2px solid var(--blue6);
    }
    .btn.success.hl:hover , .btn-icon.success.hl:hover{
        background: var(--green4) !important;
        filter: drop-shadow(0px 10px var(--green6));
        border: 1px solid var(--green6);
        outline: 2px solid var(--green6);
    }
    .btn.warning.hl:hover , .btn-icon.warning.hl:hover{
        background: var(--yellow4) !important;
        filter: drop-shadow(0px 10px var(--yellow6));
        border: 1px solid var(--yellow6);
        outline: 2px solid var(--yellow6);
    }
    .btn.danger.hl:hover , .btn-icon.danger.hl:hover{
        background: var(--orange4) !important;
        filter: drop-shadow(0px 10px var(--orange6));
        border: 1px solid var(--orange6);
        outline: 2px solid var(--orange6);
    }
    .btn.error.hl:hover , .btn-icon.error.hl:hover{
        background: var(--red4) !important;
        filter: drop-shadow(0px 10px var(--red6));
        border: 1px solid var(--red6);
        outline: 2px solid var(--red6);
    }

    .btn.dark.hl:hover , .btn-icon.dark.hl:hover{
        background: var(--gray-700) !important;
        filter: drop-shadow(0px 10px var(--gray-700));
        border: 1px solid var(--gray-700);
        outline: 2px solid var(--gray-700);
    }

    .btn.light.hl:hover , .btn-icon.light.hl:hover{
        background: var(--gray-300) !important;
        filter: drop-shadow(0px 10px var(--gray-300));
        border: 1px solid var(--gray-300);
        outline: 2px solid var(--gray-300);
    }

/* -------------------------------------------------------------- */

    .btn:hover , .btn-icon:hover{
        background: var(--blue4) !important;
        outline: 5px solid var(--blue6);
    }
    .btn.success:hover , .btn-icon.success:hover{
        background: var(--green4) !important;
        outline: 5px solid var(--green6);
    }
    .btn.warning:hover , .btn-icon.warning:hover{
        background: var(--yellow4) !important;
        outline: 5px solid var(--yellow6);
    }
    .btn.danger:hover , .btn-icon.danger:hover{
        background: var(--orange4) !important;
        outline: 5px solid var(--orange6);
    }
    .btn.error:hover , .btn-icon.error:hover{
        background: var(--red4) !important;
        outline: 5px solid var(--red);
    }

    .btn.dark:hover , .btn-icon.dark:hover{
        background: var(--gray-700) !important;
        outline: 5px solid var(--gray-700);
    }

    .btn.light:hover , .btn-icon.light:hover{
        background: var(--gray-300) !important;
        outline: 5px solid var(--gray-300);
    }

/* -------------------------------------------------------------- */
  
    .success{
        background: var(--green6) !important;
    }
    .warning{
        background: var(--yellow6) !important;
    }
    .danger{
        background: var(--orange6) !important;
    }
    .error{
        background: var(--red6) !important;
    }
    .dark{
        background: var(--gray-900) !important;
        color: var(--light) !important;
    }
    .light{
        background: var(--gray-100) !important;
        color: var(--dark) !important;
    }

    .txt-success{
        color: var(--green6) !important;
    }
    .txt-warning{
        color: var(--yellow6) !important;
    }
    .txt-danger{
        color: var(--orange6) !important;
    }
    .txt-error{
        color: var(--red6) !important;
    }
    .txt-dark{
        color: var(--dark) !important;
    }
    .txt-light{
        color: var(--light) !important;
    }

    .btn-border{
        border: 1px solid black;
        background: transparent !important;
        border: 1px solid var(--blue4) !important;
    }

    .border-success{
        border: 1px solid var(--green6) !important;
    }
    .border-warning{
        border: 1px solid var(--yellow6) !important;
    }
    .border-danger{
        border: 1px solid var(--orange6) !important;
    }
    .border-error{
        border: 1px solid var(--red6) !important;
    }
    .border-dark{
        border: 1px solid var(--dark) !important;
    }
    .border-light{
        border: 1px solid var(--light) !important;
    }

/* --------------------------------------------------------------- */

    .section-banner{
        flex-direction: column;
    }

    .banner{
        width: 100%;
        min-height: 300px;
        height: auto;
        border-radius: 10px;
        background: rgb(62, 62, 62);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        color: white;
    }

    .banner-head{
        width: 50%;
        height: 100%;
        background: rgb(77, 77, 77);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.5rem;
        gap: 10px;
    }
    .banner-body{
        width: 100%;
        height: 100%;
        padding: 20px;
        overflow-y: auto;
        font-size: .9rem;
  
    }
    .banner-end{
        width: 50%;
        height: 100%;
        background: rgb(77, 77, 77);
  
    }


/* --------------------------------------------------------------- */
    
    .label-lt{
        position: absolute;
        left: 10px;
        top: 10px;
        border-left: 1px solid white;
        padding: 5px;
        font-size: .8rem;
    }

    .label-rt{
        position: absolute;
        right: 10px;
        top: 10px;
        border-right: 1px solid white;
        padding: 5px;
        font-size: .8rem;
    }
    
    .label-lb{
        position: absolute;
        left: 10px;
        bottom: 10px;
        border-left: 1px solid white;
        padding: 5px;
        font-size: .8rem;
    }

    .label-rb{
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-right: 1px solid white;
        padding: 5px;
        font-size: .8rem;
    }
